#donation {
    text-align: left;
    padding-top: 46px;
}
#donation .header-title {
    color: #000;
    font-family: 'Inter', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 38px;
}


#donation input, #donation textarea {
    width: 60%;
    margin: 15px 0 30px 0;
}