.buttons {
    padding: 4px;
    border-radius: 3px;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .buttons input {
    appearance: none;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 40px;

    border: 0.5px solid #9A9A9A;
    background: #FFF;
    display: inline-block;

    width: 100px;
    height: 40px;
    flex-shrink: 0;
  }

  .buttons input:checked {
    background: #000000;
    color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0px #808080;
  }

  .buttons input::before {
    content: attr(label);
    text-align: center;
  }