#sales {
  text-align: left;
}
#sales .page-title {
  display: flex;
  width: 100%;
}
#sales .sales-next {
  display: flex;
}
#sales .sales-next p {
  padding: 5px;
  margin-top: auto;
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#sales .sales-title {
  color: #000;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 85%;
}

#sales .sales-smallcontainer {
  padding: 15px;
}

#sales .mainstage-button {
  border-radius: 10px;
  width: 97%;
  border: 1px solid #cfcfcf;
  background: #f9f3e9;
}

#sales .mainstage-button p {
  color: #000;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#Add-Product label {
  display: block;
  margin-bottom: 10px;
}

#Add-Product textarea {
  width: 97%;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #000;
  background: #FFF;
}

#Add-Product .input-password{
  border-radius: 7px;
  height: 45px;
  width: 102%;
}